body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

img {
    margin-top: -50px;
    margin-right: 200px;
    margin-left: 200px;
    float: right;
    height: 350px;
    width: auto;
}

main {
    padding: 20px;
}

h2 {
    color: coral;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}